[submodule "extern/spdlog"]
	path = extern/spdlog
	url = git@github.com:gabime/spdlog.git
    ignore = dirty
[submodule "extern/json"]
	path = extern/json
	url = git@github.com:nlohmann/json.git
    ignore = dirty
